body {
  background-color: indianred;
}

h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 50px;
  margin: 20px;
  font-weight: normal;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  color: whitesmoke;
  margin-top: -10px;
  margin-bottom: -5px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  color: whitesmoke;
}

#time-option {
  outline: none;
  border: none;
  width: 300px;
  border-radius: 4px;
  padding: 10px;
}

#time-option2 {
  outline: none;
  border: none;
  width: 300px;
  border-radius: 4px;
  padding: 10px;
}

#save-btn {
  display: block;
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  color: indianred;
  font-weight: bold;
  cursor: pointer;
}

#save-btn2 {
  display: block;
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  color: indianred;
  font-weight: bold;
  cursor: pointer;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: auto 40px;
  border-style: dashed;
  border-color: #98bf21;
  border-radius: 8px;
  padding: 20px;
}
